/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

@media (max-width: 425px) {

  .offcanvas {
    margin-right: 6vw !important;
    width: 41vw !important;
    margin-top: 130px !important;
  }

}
@media (min-width: 426px) and (max-width: 768px) {

  .offcanvas {
    margin-right: 4vw !important;
    width: 45vw !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .offcanvas {
    width: 28vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {

  .offcanvas {
    width: 20vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {

  .offcanvas {
    width: 20vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {

  .offcanvas {
    margin-top: 110px !important;
    width: 13vw !important;
    margin-right: 2.0vw !important;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {

  .offcanvas {
    margin-top: 110px !important;
    width: 14.5vw !important;
    margin-right: 1.7vw !important;
  }
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}