/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

.badges {
  background-color: rgba(0, 0, 0, 0.223);
  backdrop-filter: blur(10px);
  transition: all.2s 0s ease;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.text-shadow {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.add-todo-btn {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  box-shadow: none !important;
  border: solid whitesmoke;
  border-radius: 10px;
}

.clock {
  letter-spacing: .15ch;
  text-shadow: 0 2px 3px black;
}

.quote-author {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  text-shadow: 0 2px 2px black;
  color: whitesmoke;
}

.quote:hover .quote-author {
  opacity: 1;
}

.settings-row {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings-box {
  min-width: 40dvw;
  min-height: 50dvh;
  border-radius: 30px;
  padding: 1.5em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.223);
  backdrop-filter: blur(10px);
  transition: all.2s 0s ease;
}

.settings-img {
  position: absolute; 
  width: 20dvh; 
  height: 20dvh; 
  top: -5%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings-text {
  margin-top: 2em;
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.badge-hover:hover {
  cursor: pointer;
}

/* Media Queries for offCanvas position/width*/

@media (max-width: 425px) {

  .offcanvas {
    margin-right: 6vw !important;
    width: 41vw !important;
    margin-top: 130px !important;
  }

}
@media (min-width: 426px) and (max-width: 768px) {

  .offcanvas {
    margin-right: 4vw !important;
    width: 45vw !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .offcanvas {
    width: 28vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {

  .offcanvas {
    width: 20vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {

  .offcanvas {
    width: 20vw !important;
    margin-right: 2.8vw !important;
  }
}

@media (min-width: 1201px) and (max-width: 1440px) {

  .offcanvas {
    margin-top: 110px !important;
    width: 13vw !important;
    margin-right: 2.0vw !important;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {

  .offcanvas {
    margin-top: 110px !important;
    width: 14.5vw !important;
    margin-right: 1.7vw !important;
  }
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}